  <div class="dropdown d-inline-block">
    <button type="button" class="btn btn-dual" id="page-header-notifications-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fa fa-fw fa-flag"></i>
        <span class="badge badge-pill badge-success">3</span>
    </button>
    <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg rounded-0 p-0" aria-labelledby="page-header-notifications-dropdown">
        <div class="bg-image" style="background-image: url('assets/media/photos/photo25.jpg');">
            <div class="bg-primary-op font-w600 text-white text-center px-3 py-4">
                <div class="font-size-h4">Notifications</div>
                <div class="font-size-h6 font-w400 text-white-75">3 New!</div>
            </div>
        </div>
        <ul class="nav-items my-2">
            <li>
                <a class="text-dark media py-2" href="javascript:void(0)">
                    <div class="mx-3">
                        <i class="fa fa-fw fa-check-circle text-success"></i>
                    </div>
                    <div class="media-body font-size-sm pr-2">
                        <div class="font-w600">New patient was added successfully</div>
                        <div>Mike Smith</div>
                        <div class="text-muted font-italic">15 min ago</div>
                    </div>
                </a>
            </li>
            <li>
                <a class="text-dark media py-2" href="javascript:void(0)">
                    <div class="mx-3">
                        <i class="fab fa-fw fa-paypal text-info"></i>
                    </div>
                    <div class="media-body font-size-sm pr-2">
                        <div class="font-w600">New payment of $350 was received!</div>
                        <div>From Carol Taylor</div>
                        <div class="text-muted font-italic">10 min ago</div>
                    </div>
                </a>
            </li>
            <li>
                <a class="text-dark media py-2" href="javascript:void(0)">
                    <div class="mx-3">
                        <i class="fa fa-fw fa-calendar text-warning"></i>
                    </div>
                    <div class="media-body font-size-sm pr-2">
                        <div class="font-w600">New appointment was scheduled!</div>
                        <div>Today at 15:00 with John Doe</div>
                        <div class="text-muted font-italic">30 min ago</div>
                    </div>
                </a>
            </li>
        </ul>
        <div class="p-2 border-top">
            <a class="btn btn-light btn-block text-center" href="javascript:void(0)">
                <i class="fa fa-fw fa-eye mr-1"></i> View All
            </a>
        </div>
    </div>
  </div>
