{% load static %}
  <div class="dropdown d-inline-block">
      <button type="button" class="btn btn-dual" id="page-header-shortcuts-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-fw fa-th-large"></i>
      </button>
      <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg rounded-0 p-0" aria-labelledby="page-header-shortcuts-dropdown">
          <div class="bg-image" style="background-image: url({% static 'assets/media/photos/photo21.jpg'%});">
              <div class="bg-primary-op font-w600 text-white text-center px-3 py-4">
                  <div class="font-size-h4">Quick Apps</div>
                  <div class="font-size-h6 font-w400 text-white-75">Shortcuts</div>
              </div>
          </div>
          <div class="row no-gutters bg-white push">
              <div class="col-6 border-right border-bottom">
                  <a class="block block-transparent block-link-pop text-center mb-0" href="javascript:void(0)">
                      <div class="block-content block-content-full aspect-ratio-4-3 d-flex justify-content-center align-items-center">
                          <div>
                              <i class="fa fa-2x fa-user-md text-xsmooth"></i>
                              <div class="font-size-sm font-w600 mt-2 text-uppercase">Patients</div>
                          </div>
                      </div>
                  </a>
              </div>
              <div class="col-6 border-bottom">
                  <a class="block block-transparent block-link-pop text-center mb-0" href="javascript:void(0)">
                      <div class="block-content block-content-full aspect-ratio-4-3 d-flex justify-content-center align-items-center">
                          <div>
                              <i class="fa fa-2x fa-comments text-xmodern"></i>
                              <div class="font-size-sm font-w600 mt-2 text-uppercase">Forum</div>
                          </div>
                      </div>
                  </a>
              </div>
              <div class="col-6 border-right">
                  <a class="block block-transparent block-link-pop text-center mb-0" href="javascript:void(0)">
                      <div class="block-content block-content-full aspect-ratio-4-3 d-flex justify-content-center align-items-center">
                          <div>
                              <i class="fa fa-2x fa-book text-xeco"></i>
                              <div class="font-size-sm font-w600 mt-2 text-uppercase">Knowledge</div>
                          </div>
                      </div>
                  </a>
              </div>
              <div class="col-6">
                  <a class="block block-transparent block-link-pop text-center mb-0" href="javascript:void(0)">
                      <div class="block-content block-content-full aspect-ratio-4-3 d-flex justify-content-center align-items-center">
                          <div>
                              <i class="fa fa-2x fa-calendar text-xinspire"></i>
                              <div class="font-size-sm font-w600 mt-2 text-uppercase">Schedule</div>
                          </div>
                      </div>
                  </a>
              </div>
          </div>
      </div>
  </div>
